body{
  background-color:white;
}

.all-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
  
}

.btn{
  margin: 20px 2px;
  padding: 10px;
}


#app{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}

#show-btn{
  background-color: blueviolet;
}

#show-cats{
  background-color: rgb(65, 106, 23);
}

#show-dogs{
  background-color: darkorange;
}

#show-dinos{
  background-color: deepskyblue;
}

#form-submit{
  background-color:mediumslateblue;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  
}
