body{
  background-color:white;
}

.all-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
}

.btn{
  margin: 5px;
  padding: 10px;
}

#app{
  display: flex;
  flex-wrap: wrap;
}
